*{
    font-family: 'Lato', sans-serif;
}

.media-body .container .row .col{
    margin-bottom: 1.25rem;
}

.main .media{
    font-size: 1rem;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#image-container{
    width: auto !important;
}

#gig-info-col{
    margin-top: 1.25rem;
}

#last-row-gig-info{
    margin-bottom: 2rem;
}

.gig-image{
    max-width: 5.75rem;
    max-height: 8.125rem;
    overflow: hidden;
}

.gig-row{
    background-color: #eeeeee;
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.gig-col{
    padding-left: 0!important;
    padding-right: 0!important;
}

.inner-col{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 0.625rem;
    margin-left: 6.75rem;
    font-size: 1rem;
}

.info-button{
    margin: 40px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: black;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
}

.hidden-small{
    display: block !important;
}

@media (max-width: 767px) {
    .hidden-small {
        display: none !important;
    }
}

a:hover{
    text-decoration: none;
}

a.info-button:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: 0.4;
}

.radio-inline{
    padding-right: 15px;
}

#col-location{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

iframe{
    width: 60vw;
    height: 30rem;
    border: 0;
    margin: auto;
}

input[type='number']{
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* Help page Accordion css */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    padding-bottom: 10px;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}